@import "https://fonts.googleapis.com/css?family=Russo+One";

body {
    background: #ffffff;
    text-align: center;
}

@media screen and (min-width: 1000px) {
    body { /* desktop */
        width: 1000px;
        margin: 0 auto;
    }
}

.label {
    background: linear-gradient(to right, #c3dbff, #f1cfff);
    border-radius: 10px 20px;
}

h2.title {
    font-size:70px;
    text-align:center;
    margin-top:10px;
    margin-bottom: 10px;
    text-transform:uppercase;
    font-family:'Russo One',sans-serif;
    font-weight:900;
    letter-spacing:8px;
}
@-webkit-keyframes move-background {
    0%{background-position:-300px 0}
    100%{background-position:300px -300px}
}
@-moz-keyframes move-background {
    0%{background-position:-300px 0}
    100%{background-position:300px -300px}
}
@keyframes move-background {
    0%{background-position:-300px 0}
    100%{background-position:300px -300px}
}
.section {
    -webkit-animation-play-state:running;
    -moz-animation-play-state:running;
    animation-play-state:running;
    color:transparent;
    background:url(https://obninsksite.ru/assets/theme/images/blog/square.svg) no-repeat #c840f5;
    background-size:cover;
    -webkit-text-fill-color:transparent;
    -moz-text-fill-color:transparent;
    -webkit-background-clip:text;
    -webkit-animation:move-background 20s infinite linear alternate;
    -moz-animation:move-background 20s infinite linear alternate;
    animation:move-background 20s infinite linear alternate
}

input {
    width: calc(100% - 49px);
    height: 32px;
    font-size:15px;
    color: rgba(138,132,148,0.84);
    text-align:center;
    font-family:'Russo One', serif;
    margin-right: auto;
    margin-left: auto;
}

button.search__giph {
    height: 35px;
    width: calc(100% - (100% - 35px));
    font-size:15px;
    text-align:center;
    font-family:'Russo One', serif;
    margin-right: auto;
    margin-left: auto;
    cursor: pointer;
}

.container {
    margin: 0 auto;
    font-family: 'Russo One', serif;
    color: rgba(42,43,56,0.84);
}

output {
    font-size:15px;
    font-family:'Russo One', serif;
}

@keyframes donut-spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.donut {
    display: none;
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left-color: #7983ff;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: donut-spin 1.2s linear infinite;
}

.img {
    width: 240px;
    position: relative;
}

.giphs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.search_categs {
    width: calc(100% - (100% - 110px));
    height: 40px;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    /*padding: 10px 25px;*/
    margin-bottom: 25px;
    font-family: 'Russo One', serif;
    font-size: 15px;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
}
.btn-8 {
    background-color: #f0ecfc;
    background-image: linear-gradient(315deg, #e2bcf3 0%, #abaeff 74%);
    line-height: 42px;
    padding: 0;
    border: none;
}
.btn-8:hover{
    background: transparent;
    color: rgba(0, 0, 0, 0.93);
}

figure {
    background: linear-gradient(to right, #9dc1ff, #dd94fc);
    border: 1px dotted grey;
    border-radius: 10px;
    padding: 20px
}

figure img {
    margin-bottom: 10px;
    border-radius: 5px;
}

